@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-800;
}

/* Video background optimizations */
video {
  @apply w-full h-full object-cover;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  will-change: transform;
}

@media (max-width: 768px) {
  video {
    @apply object-cover;
  }
}